build/dwm/*.o
build/dwm/*.rej
build/dwm/*.orig
build/dwm/dwm
build/st/*.o
build/st/*.rej
build/st/*.orig
build/st/st
build/dmwnu/dmenu
build/dmwnu/*.o
build/dmwnu/*.rej
build/dmwnu/*.orig
build/dwmblocks/*.o
build/dwmblocks/*.rej
build/dwmblocks/*.orig
build/dwmblocks/dwmblocks
build/slock/*.o
build/slock/*.rej
build/slock/*.orig
build/slock/slock
build/sxiv/*.o
build/sxiv/*.rej
build/sxiv/*.orig
build/sxiv/slock
build/x2ray/__pycache__
build/x2ray/config.json
tmp/*
tar/*
